body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-image: url(../Media/abstract-marble-texture-black-white-grey-background-handmade-technique.jpg);
}